@tailwind base;
@tailwind components;
@tailwind utilities;


  

.Flipped::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    padding-top: 40px;
    transform: rotate(180%);
}

.Flipped::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
 
    background: rgb(223, 227, 230);
    border-radius: 10px;

}
.Flipped::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 30px;
    width: 8px;
    border: 1px solid black;
    background: rgb(19, 18, 18);
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    background: -webkit-linear-gradient(rgb(15, 15, 15), rgb(32, 28, 28));
}

.Flipped::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}

