@tailwind base;
@tailwind components;
@tailwind utilities;


  

.Flipped::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    padding-top: 40px;
    transform: rotate(180%);
}

.Flipped::-webkit-scrollbar-track{
  
 
    background: rgb(223, 227, 230);
    border-radius: 10px;

}
.Flipped::-webkit-scrollbar-thumb{
    border-radius:10px;
    height: 30px;
    width: 8px;
  
    background: rgb(19, 18, 18);
  
}

.Flipped::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}

